*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

header{
    display: flex;
    width: 100vw;
    height: 12vh;
    align-items: center;
    background-image: linear-gradient(to right, #424242, #242424);
    box-shadow: 0px 5px 10px rgba(65, 65, 65, 0.6);
}

.logo-container, .nav-links{
    display:flex;
}
.logo-container{
    flex: 1;
    padding-left: 10em;
}
.svg{
    filter: drop-shadow(2px 2px 2px rgba(104, 84, 84, 0.7));
}
nav{
    flex: 1;
}
.nav-links{
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.nav-link{
    color: white;
    font-size: 22px;
    text-decoration: none;
    transition: 500ms;
}
.nav-link:hover{
    color: rgb(210, 212, 97);
    text-decoration: underline;
}
.contact-button{
    background-color: #4B6954;
    color: white;
    border-radius: 10px;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid white;
    transition: 500ms;
}
.contact-button:hover{
    background: white;
    border: 2px solid darkslategray;
    color: darkslategray;
}
hr.solid {
    border-top: 5px solid darkslategray;
}

.headings{
    color: rgb(26, 43, 43);
}
.phenobottle-container{
    padding: 4em;
    display: flex;
    min-height: 50vh;
    align-items: center;
}
.phenobottle-img {
    align-items: center;
    transition: 500ms;
}
.phenobottle-text{
    padding: 2em;
    text-align: left;
    padding-left: 5em;
}

.openjip-container{
    padding: 4em;
    display: flex;
    min-height: 50vh;
    align-items: center;
}
.openjip-img {
    align-items: center;
    transition: 500ms;
}
.openjip-text{
    padding: 2em;
    text-align: left;
    padding-left: 5em;
}

.openjip-info, .phenobottle-info{
    display: flex;
    padding: 1em;
    align-items: center;
}
.openjip-info-btn, .phenobottle-info-btn{
    background-color: transparent;
    color: darkslategray;
    font-weight: bold;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid darkslategray;
    transition: 500ms;
}
.openjip-git-logo, .phenobottle-git-logo{
    padding: 1em;
    width: 80%;
    display: flex;
    min-height: 5vh;
}

.openjip-img:hover, .phenobottle-img:hover{
    transform: scale(1.2);
}

.openjip-info-btn:hover, .phenobottle-info-btn:hover{
    background: darkslategray;
    border: 2px solid darkslategray;
    color: white;
}

.openjip-git-logo:hover, .phenobottle-git-logo:hover{
    animation: shake 500ms;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(5deg); }
  }


.cards{
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 220px 160px 80px;
    grid-template-areas: "image" "text";
    border-radius: 18px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    transition: 500ms;
    cursor: pointer;
    background-color: #ffffff;
}
.schematic-image{
    grid-area: image;
    background-image: url('/imgs/electronics.png');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.model-image{
    grid-area: image;
    background-image: url('/imgs/3dmodels.jpg');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.database-image{
    grid-area: image;
    background-image: url('/imgs/database.jpg');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.userinterface-image{
    grid-area: image;
    background-image: url('/imgs/gui.png');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.photosynthesis-image{
    grid-area: image;
    background-image: url('/imgs/photosynthesis.png');
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}
.card-text{
    grid-area: text;
    margin: 20px;
    text-align: center;
}
.card-text .date{
    color: #357c4a;
    font-weight: bold;
    text-align: right;
}
.card-text p{
    color: black;
    font-size: 15px;
    font-weight: 300;
}
.card-text .h2{
    margin-top: 10px;
    font-size: 28px;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.6);
}




footer{
    width: 100%;
    margin-top: auto;
    color: white;
    text-align: center;
    background-image: linear-gradient(to bottom right, #333333, #272727);
    position: relative;
    box-shadow: 0px -5px 10px rgba(65, 65, 65, 0.6);
}
.footer-items{
    display: flex;
    min-height: 8vh;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}
.email-add{
    color: white;
    text-decoration: none;
}

